/*
Libervia: a Salut à Toi frontend
Copyright (C) 2011, 2012, 2013, 2014  Jérôme Poisson (goffi@goffi.org)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: url("../images/tpl/page-gradient.png") repeat-x scroll left top #FBFAF9;
    font: normal 0.8em/1.5em Arial, Helvetica, sans-serif;
}

h1.error {
    text-align: center;
    color: red;
}

.mblog_title {
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
    font-family: FreeSans, Liberation Sans, Arial, sans-serif;
    color: rgb(51, 51, 51);
}

.mblog_title a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.mblog_entry {
    width: 750px;
    text-align: justify;
    border: 1px solid LightGray;
    margin: 5px auto 20px auto;
    padding: 5px 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 0.5em rgb(153, 153, 153);
    font-family: FreeSans, Liberation Sans, Arial, sans-serif;
    color: rgb(51, 51, 51);
}

.mblog_comments{
    background: url("../images/flaticon/comment33.png") no-repeat scroll 0px 2px transparent;
    padding: 0px 0px 0px 18px;
}

.mblog_comment {
    position: relative;
    left: 20px;
    width: 710px;
}

.mblog_header {
    font-size: small;
    border-bottom: 1px dotted #ccc;
    color: gray;
    display: table;
    width: 100%;
}

.mblog_header_main:hover {
    background-color: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.mblog_footer {
    font-size: small;
    border-top: 1px dotted #ccc;
    color: gray;
    display: table;
    width: 100%;
}

.mblog_footer_main:hover {
    background-color: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.mblog_metadata {
    display: table-row;
    width: 100%;
}

.mblog_author {
    display: table-cell;
}

.mblog_timestamp {
    display: table-cell;
    float: right;
    background: url("../images/flaticon/clock104.png") no-repeat scroll 0px 1px transparent;
    padding: 0px 0px 0px 18px;
}

/* START TAGS: styles are adapted from Dotclear */
.mblog_tags {
    background: #fbfbfb none repeat scroll 0% 0%;
    padding: 5px;
    margin: 8px 0px 0px;
    overflow: hidden;
}

.mblog_tags li {
    display: inline;
    font-size: small;
}

.mblog_tags li a {
    float: left;
    padding: 2px 8px 2px 18px;
    white-space: nowrap;
    color: #005D99;
    text-decoration: none;
    background: transparent url("../images/flaticon/tag67.png") no-repeat scroll 0px 0px;
}
/* END TAGS */

.mblog_content {
	display: block;
	padding-top: 5px;
}

.item_link {
    text-decoration: none;
}

.comments_link {
    text-decoration: none;
    text-align: center;
    color: #2B73B7;
    font-size: smaller;
    display: block;
    left: 2%;
    position: relative;
}

.header, .footer {
    margin: 20px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.header_content, .footer_content {
    margin: 0px 20%;
}

.later_message {
    text-decoration: none;
    float: left;
    color: #2B73B7;
    font-size: smaller;
}

.older_message {
    text-decoration: none;
    float: right;
    color: #2B73B7;
    font-size: smaller;
}

.later_messages, .older_messages {
    text-decoration: none;
    text-align:center;
    color: #2B73B7;
    font-size: smaller;
}

.mblog_entry h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid rgb(170, 170, 170);
}

.mblog_entry h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #666;
}

img {
    max-width: 100%;
}

video {
	max-width: 100%;
}

.mblog_title img {
    max-width: 800px;
    max-height: 150px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 5px;
}

.powered, .feed {
    text-align: center;
    font-family: FreeSans,Liberation Sans,Arial,sans-serif;
    color: rgb(51, 51, 51);
    font-size: small;
}

.powered a, .feed a {
    text-decoration: none;
}
.powered img, .feed img {
    vertical-align: bottom;
    width: 16px;
    heigth: 16px;
}

@media (min-width: 600px) and (max-width: 750px) {
    .mblog_entry {
        width: 600px;
    }
    .mblog_comment {
        width: 560px;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    .mblog_entry {
        width: 480px;
    }
    .mblog_comment {
        width: 440px;
    }
}
@media (max-width: 480px) {
    .mblog_entry {
        width: 360px;
    }
    .mblog_comment {
        width: 320px;
    }
}
