{#
Libervia: a Salut à Toi frontend
Copyright (C) 2011, 2012, 2013, 2014, 2015 Jérôme Poisson <goffi@goffi.org>
Copyright (C) 2013, 2014, 2015 Adrien Cossa <souliane@mailoo.org>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='{{styles}}/blog.css'>
    <link rel="icon" type="image/png" href="{{images}}/sat_logo_16.png">

    <head profile="http://www.w3.org/2005/10/profile">
        <title>Blog error</title>
    </head>

    <body>
        <h1 class="error">{{message}}</h1>
    </body>
</html>
